# Python
__pycache__/
*.pyc
.venv/

# Node
node_modules/
dist/

# Env
.env
infra/.env
services/web-frontend/.env

# Data
data-lake/prata/*.csv
data-lake/bronze/**/*.shp
data-lake/bronze/**/*.dbf
data-lake/bronze/**/*.shx
data-lake/bronze/**/*.cpg

# OS
.DS_Store
Thumbs.db